    body {
      background: hsla(83, 29%, 77%, .7);
      font-family: 'Balsamiq Sans', cursive;
    }

    h1 {
      text-align: center;
    }

    a {
      border-bottom: 1px dotted red;
      color: black;
      text-decoration: none;
    }

    li {
      font-size: 1.2rem;
      list-style-type: circle;
      list-style-position: inside;
    }

    li a {
      background-color: hsla(56, 100%, 75%, 0.3)
    }
